.App {
  /* text-align: center; */
  display: flex;
  /* flex-direction: row-reverse; */
}


.App-header {
  background-color: #FE5D9F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



