.Game-container {
    position: sticky;
    top: 0;
    width: 50vw;
    height: 50vw;
    min-width: 300px;
    min-height: 300px;
    max-width: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: #D6D2D2 ;
    border-bottom-left-radius: 10px;
    margin: 0;

}
.board {
    position: sticky;
    top: 0;
    width: 50vw;
    height: 50vw;
    min-width: 300px;
    min-height: 300px;
    max-width: 100vh;
    max-height: 100vh;
    overflow: hidden;

}
.game-area {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    z-index: 20;

}
.bunny-div {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    z-index: 20;

}
.background{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.tree {
    width: 100px;
    height: 100px;
    /* display: flex;
    justify-content: flex-end; */
    z-index: 10;

}
.pulse {
    width: 100px;
    height: 100px; 
    animation-name: bunny-pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes bunny-pulse {
    0%   {
      transform: scale3d(1,1,1);}
    50%  { transform: scale3d(1.05,1.05,1.05);}
    100% { transform: scale3d(1,1,1);
  }}
  .lemon-tree {
    z-index: inherit;
  }